{% extends "layouts/base.html" %}
{% block content %}
    <div class="content">
        <div class="title_page">
            <h1>Gestion utilisateur</h1>
            {% include "components/profil.html" %}
        </div>
        {% include "components/card.html" %}
        <div class="data">
            <!-- Gestion chambre -->
            <div class="chambre_data">
                <div class="champ_btn">
                    <div class="btn_ajout">
                        <!-- Bouton ouvrir Modal formulaire-->
                        <a href="#modal-ajouter">
                            <button class="btn_ajouter">Ajouter</button>
                        </a>
                    </div>
                    <div class="search">
                        <form action="" method="get">
                            <input class="bar_search" type="search" name="search" id="search" placeholder="Rechercher">
                            <input class="btn_search" type="submit" value="Rechercher">
                        </form>
                    </div>
                </div>
                <table>
                    <tr class="entete_table">
                        <th>Photo Profil</th>
                        <th>Nom utilisateur</th>
                        <th>Nom</th>
                        <th>Prenoms</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                    {% for users in users %}
                    <tr class="datatable">
                        <td style="display:flex; gap:5px;">
                            {% for photo in users.photos.all %}
                            <img class="image" 
                            src="{{photo.image.url}}" 
                            alt="" 
                            style="width: 50px;height:50px;">
                            {% endfor %}
                        </td>
                        <td>{{users.username}}</td>
                        <td>{{users.first_name}}</td>
                        <td>{{users.last_name}}</td>
                        <td>{{users.email}}</td>
                        <td> 
                            <a href="#modal-{{users.id}}">
                                <button><i class="fas fa-pen"></i></button>
                            </a>
                            <a href="#" onclick="return confirm('Voulez vous vraiment supprimer ?')">
                                <button><i class="fas fa-trash"></i></button>                            
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <!-- ========/gestion chambre========= -->
{% endblock  %}