<div class="list_card">
            <div class="card">
                <div class="title"><i class="fas fa-pen-to-square"></i> Reservations</div>
                <div class="nombre">{{reservations.count}}</div>
            </div>
            <div class="card">
                <div class="title"><i class="fas fa-check"></i> Chambre Dispo</div>
                <div class="nombre">{{ chambre_dispo }}</div>
            </div>
            <div class="card">
                <div class="title"><i class="fas fa-xmark"></i> Chambre Non Dispo</div>                
                <div class="nombre">{{ chambre_occupe }}</div>
            </div>
            <div class="card">
                <div class="title">Arrivées du jour</div>
                <div class="nombre">0</div>
            </div>
        </div>