<div class="list_card">

    <div class="card">
        <div class="card_icon"><i class="fas fa-calendar-check"></i></div>
        <div class="title">Réservations</div>
        <div class="nombre">{{ reservations.count }}</div>
    </div>

    <div class="card">
        <div class="card_icon"><i class="fas fa-bed"></i></div>
        <div class="title">Chambres disponibles</div>
        <div class="nombre">{{ chambre_dispo }}</div>
    </div>

    <div class="card">
        <div class="card_icon"><i class="fas fa-ban"></i></div>
        <div class="title">Chambres occupées</div>
        <div class="nombre">{{ chambre_occupe }}</div>
    </div>

    <div class="card">
        <div class="card_icon"><i class="fas fa-envelope"></i></div>
        <div class="title">Messages contact</div>
        <div class="nombre">{{ contact_count }}</div>
    </div>
</div>
