<footer id="footer">
    <div class="footer-container">

        <!-- LOGO + DESCRIPTION -->
        <div class="footer-box">
            <h2><span class="logo"> <span class="logo_color">HOTEL</span > NAY </span></h2>
            <p>
                Réservez facilement vos chambres en ligne.
                Une expérience simple, rapide et sécurisée.
            </p>
        </div>

        <!-- NAVIGATION -->
        <div class="footer-box">
            <h3>Navigation</h3>
            <ul>
                <li><a href="{% url 'index' %}">Accueil</a></li>
                <li><a href="#chambres">Chambres</a></li>
                <li><a href="#avis">Avis</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>

        <!-- CONTACT -->
        <div class="footer-box">
            <h3>Contact</h3>
            <p>Email : atfatoky@gmail.com</p>
            <p>Tél : +261 34 79 901 31</p>
            <p>Antananarivo, Madagascar</p>
        </div>

        <!-- RESEAUX -->
        <div class="footer-box">
            <h3>Suivez-nous</h3>
            <div class="socials">
                <a href="#">Facebook</a>
                <a href="#">Instagram</a>
                <a href="#">Twitter</a>
            </div>
        </div>

    </div>

    <div class="footer-bottom">
        <p>© 2026 HOTEL NAY. Tous droits réservés.</p>
    </div>

</footer>