<header>
    {% include "components/nav.html" %}
    <div class="content">
        <div class="fond_image"></div>
        <div class="content1">
            <div class="styleform"></div>
            <div class="titre">
                <div class="grand_titre"><h1>Bienvenue à l'<span class="logo"> <span class="logo_color">HOTEL</span > NAY </span>,  </h1></div>
                <div class="sous_titre">
                    <h2>Nous anticipons vos besoins afin que votre seul souci soit de profiter pleinement de votre séjour.</h2>
                    <h2>Service disponible 24h/24.</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="btn_item">
        <a href="{% url 'nosChambre' %} ">
            <button>Réserver maintenant</button>
        </a>
    </div>               
</header>