<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion hotelière</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include "components/header.html" %}
    <main>
        
        <!-- PRESENTATION DE L'HOTEL NAY-->
        <section class="presentation_hotel" id="accueil">
            <div class="titreSection">
                <h1>Qui somme nous ?</h1>
            </div>
            <div class="presentation">
                <div class="presentation_image">
                    <div class="image"></div>
                </div>

                <div class="presentation_text">
                    <span class="sous_titre_presentation">
                        À propos de nous
                    </span>

                    <h2>
                        Une expérience unique au cœur du confort
                    </h2>
                    <p>
                        Plus qu'un simple hébergement, HOTEL NAY vous accueille
                        dans un cadre élégant où le confort, la sécurité et la
                        qualité de service sont nos priorités. Notre équipe est
                        disponible 24h/24 afin de rendre votre séjour agréable
                        et inoubliable.
                    </p>
                    <div class="services_hotel">
                        <div>✓ Service 24h/24</div>
                        <div>✓ Wi-Fi gratuit</div>
                        <div>✓ Chambres climatisées</div>
                        <div>✓ Restaurant</div>
                        <div>✓ Parking sécurisé</div>
                        <div>✓ Personnel qualifié</div>
                    </div>
                </div>
            </div>
        </section>
        <section id="chambres">
            <div class="titreSection">
                <h1>Nos chambres en vedette</h1>
            </div>
            <div class="contenuChambre">

                {% for chambre in chambres %}
                <div class="cardChambre">

                    <div class="cardImage">

                        {% with photo=chambre.photos.first %}
                            {% if photo %}
                                <img src="{{ photo.image.url }}" alt="chambre">
                            {% else %}
                                <img src="{% static 'assets/images/hotel_5_etoiles' %}" alt="chambre">
                            {% endif %}
                        {% endwith %}

                        <!-- overlay -->
                        <div class="overlay"></div>

                        <!-- badge type -->
                        <div class="badge_type">
                            {{ chambre.type_chambre }}
                        </div>

                        <!-- badge statut -->
                        <div class="badge_status {% if chambre.status == 'Disponible' %}dispo{% else %}indispo{% endif %}">
                            {{ chambre.status }}
                        </div>

                        <!-- info -->
                        <div class="infoChambre">

                            <div class="description">
                                {{ chambre.titre }}
                            </div>

                            <div class="prix">
                                {{ chambre.prix }} Ar                                 
                                {% if chambre.type_chambre.title == "Chambre double" %}
                                    / heure
                                {% else %}
                                    / nuit
                                {% endif %}
                            </div>

                            <div class="extra_info">
                                <span>Pour {{ chambre.nbr_personne }} pers</span>
                            </div>

                        </div>

                        <!-- boutons -->
                        <div class="btn">
                            <a href="{% url 'voirDetail' chambre.id %}">
                                <button class="btn_detail">Détails</button>
                            </a>
                            {% if user.is_authenticated %}
                                <a href="{% url 'reservation' chambre.id %}">
                                 <button class="btn_reserver">Réserver</button>
                                </a>
                            {% else %}
                                <a href="{% url 'login' %}">
                                    <button class="btn_reserver">Réserver</button>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        <section id="avis">
            <div class="avis-header">
        <h1>Ce que disent nos clients</h1>
        <p>Des expériences authentiques partagées par nos voyageurs</p>
    </div>
    <div class="avis-container">
        {% for a in avis %}
        <div class="avis-card">
            <div class="avis-top">
                {% if a.user.profile.image %}
                <img src="{{ a.user.profile.image.url }}" alt="">
                {% else %}
                <div class="surImage">Client</div>
                {% endif %}
                <div>
                    <h3>{{ a.user.first_name }} {{ a.user.last_name }}</h3>
                    <div class="stars">
                        {% for i in "12345" %}
                            {% if forloop.counter <= a.note %}
                                ★
                            {% else %}
                                ☆
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <p>{{ a.message }}</p>
        </div>
        {% empty %}
            <p>Aucun avis pour le moment.</p>
        {% endfor %}
    </div>
    <div style="text-align:center; margin-bottom:20px;">
    {% if user.is_authenticated %}
        <a href="{% url 'ajouter_avis' %}">
            <button class="btn_ajouter_avis">Laisser un avis <i class="fa-solid fa-comment-dots"></i></button>
        </a>
    {% else %}
        <a href="{% url 'login' %}">
            <button class="btn_ajouter_avis">Connectez-vous pour laisser un avis</button>
        </a>
    {% endif %}
    </div>
        </section>
    </main>
    <script src="assets/js/script.js">

    </script>
    {% include "components/footer.html" %}
</body>
</html>